body {
    background-color: lightgrey;
}

.container {
    background:rgba(255,255,255,0.9);
}

label {
    font-weight: bold;
}

.jumbotron-fluid
{
    background: url("/img/colors.jpg");
    background-position:center;
}

.text-sm-center {
    font-family: 'Courgette', cursive;
    border-radius: 10px;
    background-color: cornsilk;
    color: black;
    padding: 5px;
}

#post-image {
    width: 100%;
    /* Images default to being inline, inline items cannot have a width, so change to block: */
    display: block;
    /* The following may be needed if there's still a weird looking 2-3px gap at the bottom of the image in some browsers: */
    vertical-align: bottom;
}