<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Color Form</title>
</head>
<body>
        <form th:action="@{/savecolor}" th:object="${person}" method="post">
                    <div class="container">
                        <input type="hidden" th:field="*{id}">
                        <input type="text" th:field="*{myName}">
                        <select th:field="*{colors}" multiple>
                            <option th:each ="eachColor:${colorlist}"
                                    th:value="${eachColor.id}"
                                    th:text="${eachColor.colorName}"></option>
                        </select>
                    </div>

            <button type="submit">Save Color</button>
        </form>
</body>
</html>