<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>People and their Favorite Colors</title>
</head>
<body>
    <div class="container">
        <h1>People and their Favorite Colors</h1>
        <div th:each="eachOwner:${ownerlist}">
            <h2 th:text="${eachOwner.myName}"></h2>
            <h3 th:text="${#lists.size(eachOwner.colors)>0}?'My Favorite Colors':'No colors for me'"></h3>
                <div th:each="eachColor:${eachOwner.colors}">
                    <p th:text="${eachColor.colorName}"></p>
                </div>
        </div>
    </div>
</body>
</html>